<article class="arrangement">
  <Arrangement::Image
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Biedermeierstrau%C3%9F_aus_Seidenblumen_und_pr%C3%A4parierten_Rosen.JPG/1280px-Biedermeierstrau%C3%9F_aus_Seidenblumen_und_pr%C3%A4parierten_Rosen.JPG"
    alt="A picture of Grand Bouquest"
  />
  <div class="details">
    <h3>Grand Bouquet</h3>
    <div class="detail designer">
      <span>Designer:</span> Veruca Salt
    </div>
    <div class="detail type">
      <span>Type:</span> Standalone
    </div>
    <div class="detail price">
      <span>Price:</span> $100
    </div>
    <div class="detail flowers">
      <span>Number of flowers:</span> 15
    </div>
  </div>
</article>