<Jumbo>
  <h2>Contact Us</h2>
  <p>
    Flower Shop Representatives would love to help you<br>
    choose a flower or answer any questions you may have.
  </p>
  <address>
    Flower Shop HQ
    <p>
      1212 Test Address Avenue<br>
      Testington, OR 97233
    </p>
    <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
    <a href="mailto:flowershoprep@emberjs.com">flowershoprep@emberjs.com</a>
  </address>
  <LinkTo @route="about" class="button">About</LinkTo>
</Jumbo>