<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to Flower Shop!</h2>
  <p>We hope you find exactly the bouquet you're looking for.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</div>